<section>
	<div class="text-center">
  	<h1 class="text-5xl font-semibold text-[#001e1d] mb-4">Anime</h1>
  	<p class="text-lg text-[#0f3433] max-w-[900px] mx-auto mb-3">For many years, Japanese animation has been a huge success around the world, including Russia. These ribbons love for the bright plot, the original design and constant intensity of emotions.</p>
  	<p class="text-lg text-[#0f3433] max-w-[900px] mx-auto mb-10">Many fans love to watch anime online, but to do this you often have to use several sources, because none of them can not be called universal. But we have great news for anime fans! We've launched a new project called Anime, dedicated to watching anime online. Now you will not have to trawl the expanses of the Internet in search of your favorite title - all the best anime in good quality are already on our portal. We ourselves are very fond of this genre and so we tried to make our site as convenient and exciting as possible.</p>
	</div>
</section>