---
import BestAnime from '@components/screens/home/best-anime/BestAnime.astro';
import NewAnime from '@components/screens/home/new-anime/NewAnime.astro';
import Hero from '../components/screens/home/hero/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
  <div class='bg-[#abd1c6] rounded-xl shadow-xl p-8'>
    <Hero />
    <NewAnime />
   <BestAnime />
 </div>
</Layout>

<style></style>
