 <section class="py-20">
    <div class="border-y py-12 border-[#e16162]">
      <h2 class="mb-8 text-4xl font-semibold text-[#001e1d]">Our benefits</h2>
      <div class="flex flex-col gap-4 text-[#0f3433]">
        <p class="text-2xl">The most important advantage of our portal is the possibility to watch all anime absolutely free of charge. We believe that the art of Japanese animation should be available to everyone, especially since most of our viewers are young people. We don't charge any fees at any stage of using the site, which makes our project really convenient for everyone.</p>
        <p class="text-2xl">In addition, using the site AnimeOne does not require registration. Users can watch anime online for free as soon as they enter the site.</p>
        <p class="text-2xl">If you love Japanese animation, come to AnimeOne. We promise you real pleasure from watching the best anime!</p>
      </div>
    </div>
   </section>