---
import Button from "../../components/ui/Button.astro";
import Menu from "./menu/Menu.astro";
---

<header>
  <nav class='flex items-center justify-between pt-2 pb-6'>
    <div class='text-xl font-semibold'>
      <a href="/">AnimeOne</a>
    </div>
    <Menu />
    <Button title="Login" />
  </nav>
</header>
