---
export interface Props {
	classButton?: string
	title: string
}


const {classButton, title} = Astro.props;
---

<button class={`bg-[#f9bc60] py-1 px-4 rounded-lg ${classButton} text-[#001e1d] font-semibold `}>{title}</button>
