---
export interface Props {
	classButton?: string
	title: string
	link?: string
}


const {classButton, title, link} = Astro.props;
---

<a href={link}>
	<button class={`bg-[#f9bc60] rounded-lg ${classButton} text-[#001e1d] font-semibold `}>{title}</button>
</a>